<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raj.uploadexcel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.Write_External_Storage"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Attendance Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".select_sub" />
        <activity android:label="Subject Allocation" android:name=".allocation" />
        <activity android:name=".register" />
        <activity android:name=".upload_image" />
        <activity android:name=".upload" />
        <activity android:name=".retrieve" />
        <activity android:name=".attendence" />
        <activity android:label="Subject Allocation" android:name=".allot" />
        <activity android:name=".mainMenu_h" />
        <activity android:name=".mainMenu_l" />
    </application>

</manifest>